.container1, .container2 {
    border: 2px blue solid;
    width: 1000px;
    height: 100px;
    display: flex;
    margin: 15px;
    justify-content: space-evenly;
}

.kekbox {
    background-color: lightblue;
    width: 60px;
    margin: 20px 10px 20px;
}

.container2 {
    background:  orange;
}

.lilabox {
    background-color: purple;
    width: 60px;
    margin: 20px 10px 20px;
}